---
import Layout from "../layouts/base.astro";
import { getCollection } from "astro:content";
import BookCard from "../components/BookCard";
import SearchBar from "../components/SearchBar";

const highlightsCollection = await getCollection("highlights");
const books = highlightsCollection[0].data.documents;

// Sort books by number of highlights
const sortedBooks = [...books].sort(
	(a, b) => b.entries.length - a.entries.length,
);
---

<Layout title="My Reading Highlights">
	<main class="container mx-auto px-4 py-8">
		<div class="flex justify-between items-center mb-8">
			<h1 class="text-4xl font-bold text-gray-800 dark:text-white">
				My Reading Highlights
			</h1>
			<div class="flex items-center space-x-4">
				<SearchBar client:load />
			</div>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{
				sortedBooks &&
					sortedBooks.map((book) => {
						const slug = book.title
							.toLowerCase()
							.replace(/\s+/g, "-");
						return (
							<BookCard
								client:load
								title={book.title}
								author={book.author}
								entries={book.entries}
								slug={slug}
							/>
						);
					})
			}
		</div>
	</main>
</Layout>
